<div id="headerContainer" class="full-width grid-center header-container">
  <header class="page-width">
    <a href="./" aria-label="Click to return to home page">
      <object class="logo" data="./assets/images/logos/enerzam-hz-color_en.svg" title="Company Logo" alt="Company Logo">Home page</object>
    </a>
    <div id="hamburgerMenu" class="header-icon"> </div>
    <nav id="desktopNav" class="header-nav header-nav-desktop invert-txt">
      <div class="dropdown-container">
        <a href="./pages/about-us.html" class="header-item">About us</a>
        <div class="dropdown">
          <a href="./pages/about-us.html" class="header-item">Our Mission</a>
          <a href="./pages/about-us.html" class="header-item">Our Vision</a>
          <a href="./pages/about-us.html" class="header-item">Our Team</a>
        </div>
      </div>        
      <a href="./pages/tech-division.html" class="header-item">Technology Division</a>
      <a href="./pages/building-eng.html" class="header-item">Building Engineering</a>  
      <a href="#" class="header-item">FR</a>   
    </nav>
  </header>
</div>
<nav id="mobileNav" class="header-nav header-nav-mobile">
  <div id="closeMenu" class="close-icon"> </div>
  <a href="./pages/about-us.html" class="header-item">About us</a>
  <a href="./pages/tech-division.html" class="header-item">Technology Division</a>
  <a href="./pages/building-eng.html" class="header-item">Building Engineering</a>  
  <a href="#" class="header-item">FR</a>   
</nav>