<div id="headerContainer" class="full-width grid-center header-container">
  <header class="page-width">
    <a href="/" aria-label="Click to return to home page">
      <object id="headerLogo" class="logo" data="/assets/images/logos/enerzam-hz-color_en.svg" title="Company Logo" alt="Company Logo">Home page</object>
    </a>
    <div id="hamburgerMenu" class="header-icon"> </div>
    <nav id="desktopNav" class="header-nav header-nav-desktop">
      <div class="dropdown-container">
        <a href="/pages/about-us.html" class="header-item main-item">About us</a>
        <div class="dropdown">
          <a href="/pages/about-us.html#mission" class="header-item">Our Mission</a>
          <a href="/pages/about-us.html#vision" class="header-item">Our Vision</a>
          <a href="/pages/about-us.html#team" class="header-item">Our Team</a>
          <a href="/pages/markets.html" class="header-item">Markets</a>
        </div>
      </div>   
      <div class="dropdown-container">
        <a href="/pages/tech-division.html" class="header-item main-item">Technology Division</a>
        <div class="dropdown">
          <a href="/pages/tech-division.html" class="header-item">Our Tech Division</a>
          <a href="/pages/tech-division.html#products" class="header-item">Our Product Suite</a>
        </div>
      </div>           
      <a href="/pages/building-eng.html" class="header-item main-item">Building Engineering</a>  
      <a href="#" class="header-item main-item">FR</a>   
    </nav>
  </header>
</div>
<nav id="mobileNav" class="header-nav header-nav-mobile">
  <div id="closeMenu" class="close-icon"> </div>
  <a href="/pages/about-us.html" class="header-item">About us</a>
  <a href="/pages/tech-division.html" class="header-item">Technology Division</a>
  <a href="/pages/building-eng.html" class="header-item">Building Engineering</a>  
  <a href="#" class="header-item">FR</a>   
</nav>