@font-face {  font-family: 'OpenSans';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('OpenSans'), url('../fonts/OpenSans-VariableFont_wdth,wght.woff') format('woff');}
@font-face {  font-family: 'Poppins';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('Poppins'), url('../fonts/Poppins-Regular.woff') format('woff');}

/* Resetting default styles */
:root {
  --page-width: 1200px;
  --page-width-small: 800px;
  --left-right-padding: 1rem;
  --bg: #f0f0f0;
  --bg-blue: #042936;
  --bg-light-blue: #65b5cf;
  --bg-green: #8dac6f;
  --bg-gray: #e0e0e0;
  --primary-green: #74bc2c;
  --primary-yellow: #c2d84b;
  --primary-blue: #14BCF4;
  --primary-gray: #545454;
  --txt-color: #000;
  --txt-focus: #000;
  --heading-font: "Poppins", sans-serif;
  --text-font: "OpenSans", sans-serif;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}
html, body{
  height: 100%;
  font-family: var(--text-font);
  color: var(--txt-color);
  background-color: var(--bg);
  font-size: 16px;
  scroll-behavior: smooth;
}
h1 {
  font-family: var(--heading-font);
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 0.8rem;
}
h2 {
  font-family: var(--heading-font);
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
  font-weight: 800;
}
h3 {
  font-family: var(--heading-font);
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
@media screen and (max-width: 490px) {
  h1 {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}
p {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
a, a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
}
.inline-link {
  display: inline;
  font-weight: 700;
}
object {
  pointer-events: none;
}
.btn {
  display: block;
  position: relative;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 5px;
  color: #ffffff;
  font-family: var(--text-font);
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
} 
.btn:hover {
  background: var(--primary-blue);
}
.btn:after {
  content: url(../images/icons/arrow.svg);
  position: absolute;
  right: 0rem;
  top: 50%;
  height: 1.3rem;
  width: 1.3rem;
  transform: translateY(-50%) rotate(-90deg);
}
.big-btn {
  margin-top: 2rem;
  padding: 0.5rem 3rem;
}
.btn-1 {
  background-color: var(--primary-gray);
  padding: 0.2rem 2rem;
}
.invert-txt {
  color: #fff !important;
}
.black-txt {
  color: #000 !important;
}

/* General section styles */
section {
  padding: 5rem 0;
}
.small-section {
  padding: 0.5rem 0;
}
.med-section {
  padding: 0 0 5rem 0;
}
.full-width {
  width: 100%;
}
.primary-bg {
  background: var(--bg);
  color: var(--txt-color);
}
.secondary-bg {
  background: var(--bg-blue);
  color: #fff;
}
.gray-bg {
  background: var(--bg-gray);
  color: var(--primary-gray);
}
.blue-bg {
  background: var(--bg-light-blue);
  color: #fff;
}
.page-width {
  width: 100%;
  max-width: min(var(--page-width), 100vw);
  padding: 0 var(--left-right-padding);
}
.page-width-small {
  width: 100%;
  max-width: var(--page-width-small);
  padding: 0 var(--left-right-padding);
}
.grid {
  display: grid;
}
.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 2rem;
}
.gap-4 {
  gap: 4rem;
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.col3-flex-item {
  width: 30%;
}
@media screen and (max-width: 700px) {
  .unflex-mobile {
    display: block !important;
  }
  .col3-flex-item {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .col3-flex-item {
    width: 90%;
  }
}
.center-me {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}
.slide-in-left {
  transform: translate(-50px, 0px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-up {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-animate {
  transform: translate(0, 0);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.fade-in-animate {
  opacity: 1;
}
.hidden { 
  display: none;
}
.color-blue {
  color: var(--primary-blue);
}
.tagline {
  max-width: fit-content;
  margin-bottom: 3rem;
}
.tagline:after {
  content: '';
  display: block;
  background-color: var(--primary-green);
  height: 0.2rem;
  width: 100%;
}
.tagline-blue:after {
  background-color: var(--primary-blue);
}
.blue:before {
  background-color: var(--primary-blue) !important;
}
.green:before {
  background-color: var(--primary-green) !important;
}
.gray:before {
  background-color: var(--primary-gray) !important;
}
.yellow:before {
  background-color: var(--primary-yellow) !important;
}
.highlight {
  position: relative;
  left: 0.6rem;
}
.highlight:before {
  content: '';
  display: block;
  height: 100%;
  width: 0.2rem;
  position: absolute;
  left: -0.6rem;
}
.separator {
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 2rem 0;
}

/* Banner styles */
.img-banner {
  background-image: url(../images/banner-mtl.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .img-banner {
    background-attachment: fixed;
  }
}
.main-banner {
  position: relative;
  height: 800px;
  max-height: 100vh;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 5px 10px 4px rgba(54, 54, 54, 0.5);
  background-color: var(--bg);
  z-index: 2;
}
.banner-content {
  height: 100%;
  position: relative;
}
.banner-text {
  max-width: min(550px, 90%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}
.offset-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: var(--bg-light-blue);
  z-index: -1;
}

/* Building background banner */
.building-bg {
  position: relative;
  background-image: url(../images/building-banner.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.building-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(131, 172, 111, 0.9);
}

/* Main Styles */
main {
  position: relative;
  width: 100%;
  background: var(--bg);
  z-index: 1;
}

/* Map Styles */
.map iframe {
  border-radius: 15px;
}
.phone {
  position: relative;
  display: flex;
}
.phone:before {
  content: url(../images/icons/phone.svg);
  display: block;
}
@media screen and (max-width: 768px) {
  .map {
    flex-direction: column-reverse;
    width: 100%;
  }
  .map iframe {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 900px) {
  .map-container {
    justify-content: space-around;
  }
}

/* Img with text styles */
.img-w-txt img {
  height: auto;
  width: 400px;
  max-width: 90%;
}
.img-w-txt .sml-img {
  width: 250px;
  padding: 1.5rem 0;
}
.img-w-txt .txt {
  flex: 1;
  min-width: 40%;
  max-width: 600px;
}

/* Team grid styles */
.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-grid .card {
  width: 250px;
  padding: 2rem 0;
  cursor: pointer;
}
.team-grid .info-card.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90vw;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #000;
  z-index: 1000;
}
.team-grid .card img {
  transition: all 0.15s ease-in-out;
}
.team-grid .card:hover img:not(.info-card img) {
  scale: 1.02;
}
.team-grid .card:hover .name:not(.info-card .name) {
  text-decoration: underline;
}
.team-grid .card p {
  margin: 0.2rem 0;
}
.team-grid .info-card p {
  margin: 1rem 0;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
}
.position {
  font-size: 0.9rem;
}
.quote {
  font-size: 0.7rem;
  font-weight: 600;
  font-style: italic;
}