@font-face {  font-family: 'OpenSans';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('OpenSans'), url('../fonts/OpenSans-VariableFont_wdth,wght.woff') format('woff');}
@font-face {  font-family: 'Poppins';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('Poppins'), url('../fonts/Poppins-Regular.woff') format('woff');}

/* Resetting default styles */
:root {
  --page-width: 1000px;
  --page-width-small: 800px;
  --left-right-padding: 2rem;
  --bg: #fff;
  --bg-blue: #042936;
  --bg-green: #8dac6f;
  --primary-green: #7CC92E;
  --primary-blue: #14BCF4;
  --heading-txt-color: #545454;
  --txt-color: #000;
  --txt-focus: #000;
  --heading-font: "Poppins", sans-serif;
  --text-font: "OpenSans", sans-serif;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}
html, body{
  height: 100%;
  font-family: var(--text-font);
  color: var(--txt-color);
  background-color: var(--bg);
  font-size: 16px;
  scroll-behavior: smooth;
}
h1 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.9rem;
  margin-bottom: 0.8rem;
}
h2 {
  color: var(--heading-txt-color);
  font-family: var(--heading-font);
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  font-weight: 800;
}
h3 {
  color: var(--heading-txt-color);
  font-family: var(--heading-font);
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
@media screen and (max-width: 490px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
p {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}
.blue-emphasize {
  color: var(--primary-blue) !important;
}
.green-emphasize {
  color: var(--primary-green) !important;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.metric {
  font-size: 2rem;
  font-weight: 900;
}
.tag {
  background-color: #eaeaea;
  width: fit-content;
}
.tag:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
}
.green.tag:after {
  background-color: var(--primary-green);
}
.blue.tag:after {
  background-color: var(--primary-blue);
}
a, a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
}
.inline-link {
  display: inline;
  font-weight: 700;
}
object {
  pointer-events: none;
}
.btn {
  display: block;
  position: relative;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 500px;
  color: #ffffff;
  background-color: transparent;
  font-family: var(--text-font);
  padding: 0.5rem 2rem;
  border: solid 2px var(--primary-active-color);
  cursor: pointer;
  transition: all .2s ease-in-out;
} 
.btn:hover {
  background: var(--primary-active-color);
}
.btn:after {
  content: url(../images/icons/arrow.svg);
  position: absolute;
  right: 0;
  top: 50%;
  height: 1.3rem;
  width: 1.3rem;
  transform: translateY(-50%) rotate(-90deg);
}
.big-btn {
  margin-top: 2rem;
  padding: 0.5rem 3rem;
}
.btn-invert {
  color: #000;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
.social-link {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.social-link:hover {
  scale: 1.2;
}
.invert-txt {
  color: #fff;
}

/* General section styles */
section {
  padding: 5rem 0;
}
.small-section {
  padding: 0.5rem 0;
}
.med-section {
  padding: 0 0 5rem 0;
}
.full-width {
  width: 100%;
}
.primary-bg {
  background: var(--bg);
  color: var(--txt-color);
  padding: 1rem;
}
.secondary-bg {
  background: var(--bg-secondary);
  color: #fff;
}
.page-width {
  width: 100%;
  max-width: min(var(--page-width), 100vw);
  padding: 0 var(--left-right-padding);
}
.page-width-small {
  width: 100%;
  max-width: var(--page-width-small);
}
.grid {
  display: grid;
}
.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 2rem;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.col3-flex-item {
  width: 30%;
}
@media screen and (max-width: 700px) {
  .col3-flex-item {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .col3-flex-item {
    width: 90%;
  }
}
.center-me {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}
.slide-in-left {
  transform: translate(-50px, 0px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-up {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-animate {
  transform: translate(0, 0);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.fade-in-animate {
  opacity: 1;
}
.tagline {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  gap: 2rem;
  margin-bottom: 3rem;
  white-space: nowrap;
}
.tagline:before {
  content: '';
  display: block;
  background-color: var(--primary-active-color);
  height: 0.2rem;
  width: 100%;
}
.tagline:after {
  content: '';
  display: block;
  background-color: var(--primary-active-color);
  height: 0.2rem;
  width: 100%;
}
.separator {
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 2rem 0;
}

/* Banner styles */
.img-banner {
  background-image: url(../images/banner-mtl.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .img-banner {
    background-attachment: fixed;
  }
}
.main-banner {
  position: relative;
  height: 800px;
  max-height: 100vh;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 5px 10px 4px rgb(176, 176, 176);
  z-index: 2;
}
.banner-content {
  height: 100%;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 30%;
  max-width: min(360px, 90%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}

/* Main Styles */
main {
  position: relative;
  width: 100%;
  background: var(--bg);
  z-index: 1;

  height: 200vh;
}