@font-face {  font-family: 'OpenSans';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('OpenSans'), url('../fonts/OpenSans-VariableFont_wdth,wght.woff') format('woff');}
@font-face {  font-family: 'Poppins';  font-weight: 400;  font-style: normal;  font-display: swap; unicode-range: U+000-5FF; src: local('Poppins'), url('../fonts/Poppins-Regular.woff') format('woff');}

/* Resetting default styles */
:root {
  --page-width: 1200px;
  --page-width-small: 900px;
  --left-right-padding: 1rem;
  --bg: #f0f0f0;
  --bg-blue: #042936;
  --bg-light-blue: #65b5cf;
  --bg-lighter-blue: #c7eff7;
  --bg-mid-blue: #7595a5;
  --bg-bright-blue: #0E8BB5;
  --bg-green: #8dac6f;
  --bg-gray: #e0e0e0;
  --bg-yellow: #fdfbf6;
  --bg-dark-gray: #545454;
  --primary-green: #74bc2c;
  --primary-yellow: #c2d84b;
  --primary-blue: #14BCF4;
  --text-blue: #2353a2;
  --primary-gray: #454545;
  --markets-bg: #F8FAFAFA;
  --txt-color: #000;
  --txt-focus: #000;
  --heading-font: "Poppins", sans-serif;
  --text-font: "OpenSans", sans-serif;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}
html, body{
  height: 100%;
  font-family: var(--text-font);
  color: var(--txt-color);
  background-color: var(--bg);
  font-size: 16px;
  scroll-behavior: smooth;
}
h1 {
  font-family: var(--heading-font);
  font-size: 2.9rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 0.8rem;
}
h2 {
  font-family: var(--heading-font);
  font-size: 1.9rem;
  margin-bottom: 0.7rem;
  font-weight: 800;
}
h3 {
  font-family: var(--heading-font);
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
h4 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #706f6e;
  margin-bottom: 1.5rem;
}
h2.large {
  font-size: 1.8rem;
}
.heading-font {
  font-family: var(--heading-font);
}
.gray-txt {
  color: #706f6e;
}
@media screen and (max-width: 490px) {
  h1.shrink {
    font-size: 1.8rem;
  }
  h2.shrink {
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
  p {
    font-size: 0.85rem !important;
  }
}
p {
  margin-bottom: 1rem;
  font-size: 0.95rem;
}
p.large {
  font-size: 1.05rem;
}
p.largest {
  font-size: 1.25rem;
  line-height: 1.8rem;
}
img {
  height: auto;
  width: 100%;
}
ul li {
  margin-left: 1rem;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
a, a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
}
.inline-link {
  display: inline;
  font-weight: 700;
}
object {
  pointer-events: none;
}
.btn {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  border-radius: 5px;
  color: #ffffff;
  font-family: var(--text-font);
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
} 
.btn:hover {
  background: var(--primary-blue);
}
.btn:after {
  content: url(../images/icons/arrow.svg);
  position: absolute;
  right: 0rem;
  top: 50%;
  height: 1.3rem;
  width: 1.3rem;
  transform: translateY(-50%) rotate(-90deg);
}
.big-btn {
  margin-top: 1rem;
  padding: 0.5rem 3rem;
}
.btn-1 {
  background-color: var(--primary-gray);
  padding: 0.4rem 2.5rem;
  font-weight: 900;
  margin-top: 2rem;
}
.btn-2 { 
  background-color: var(--primary-gray);
  padding: 0.4rem 2.5rem;
  font-weight: 900;
}
.invert-txt {
  color: #fff !important;
}
.black-txt {
  color: #000 !important;
}

/* General section styles */
section {
  padding: 8rem 0;
}
.big-section {
  padding: 12rem 0;
}
.small-section {
  padding: 0.5rem 0;
}
.med-section {
  padding: 4rem 0;
}
.padding-only-top {
  padding: 4rem 0 0 0;
}
.no-padding {
  padding: 0;
}
.full-width {
  width: 100%;
}
.page-width {
  width: 100%;
  max-width: min(var(--page-width), 100vw);
  padding: 0 var(--left-right-padding);
}
.page-width-small {
  width: 100%;
  max-width: var(--page-width-small);
  padding: 0 var(--left-right-padding);
}
.side-by-side-sections {
  display: flex;
}
.side-by-side-sections > section {
  width: calc(var(--page-width) * 0.5);
  padding: 0 var(--left-right-padding);
}
@media screen and (max-width: 900px) {
  .sml-section-mobile {
    padding: 1rem 0;
  }
  .side-by-side-sections {
    display: block;
  }
  .side-by-side-sections > section {
    max-width: min(var(--page-width), 100vw);
  }
}
.primary-bg {
  background: var(--bg);
  color: var(--txt-color) !important;
}
.secondary-bg {
  background: var(--bg-blue);
  color: #fff;
}
.markets-bg {
  background-color: var(--markets-bg);
}
.gray-bg {
  background: var(--bg-gray);
  color: var(--primary-gray);
}
.dark-gray-bg {
  background: var(--bg-dark-gray);
  color: #fff;
}
.blue-bg {
  background: var(--bg-light-blue);
  color: #fff;
}
.blue-white-bg {
  background: linear-gradient(
    to right,
    var(--bg-light-blue) 0%,
    var(--bg-light-blue) 50%,
    var(--bg) 50%,
    var(--bg) 100%
  );
}
@media screen and (max-width: 900px) {
  .blue-white-bg {
    background: linear-gradient(
    var(--bg-light-blue) 0%,
    var(--bg-light-blue) 50%,
    var(--bg) 50%,
    var(--bg) 100%
  );
  }
}
.light-blue-bg {
  background: var(--bg-lighter-blue);
  color: #000;
}
.bg-blue-overlay {
  background: rgba(145, 225, 241, 0.9);
  color: #000;
}
.bg-dark-overlay {
  background: rgba(0, 0, 0, 0.8);
}
.mid-blue-bg {
  background: var(--bg-mid-blue);
  color: #fff;
}
.bright-blue-bg {
  background: var(--bg-bright-blue);
  color: #fff;
}
.yellow-bg {
  background: var(--bg-yellow);
  color: #000;
}
.white-bg {
  background-color: #fff;
  color: #000;
}
.conic-bg {
  background: conic-gradient(from 120deg, #e0e0e0, #ededed);
}
.grid {
  display: grid;
}
.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.col3-flex-item {
  width: 30%;
}
@media screen and (max-width: 700px) {
  .unflex-mobile {
    display: block !important;
  }
  .col3-flex-item {
    width: 60%;
  }
  .reverse-mobile {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .center-txt.left-mobile {
    text-align: left;
  }
}
@media screen and (max-width: 425px) {
  .col3-flex-item {
    width: 90%;
  }
}
.center-me {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}
.slide-in-left {
  transform: translate(-50px, 0px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-up {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-animate {
  transform: translate(0, 0);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.fade-in-animate {
  opacity: 1;
}
.hidden { 
  display: none;
}
.color-blue {
  color: var(--primary-blue);
}
.tagline {
  max-width: fit-content;
  margin-bottom: 3rem;
}
.accordion.tagline {
  margin-bottom: 0;
}
p.tagline:after {
  margin: 1rem 0;
}
.tagline:after {
  content: '';
  display: block;
  background-color: var(--primary-green);
  height: 0.2rem;
  width: 100%;
}
.tagline-blue:after {
  background-color: var(--primary-blue);
}
.underline {
  width: fit-content;
  border-bottom: 3px solid;
}
.blue-underline {
  border-color: var(--primary-blue);
}
.blue:before {
  background-color: var(--primary-blue) !important;
}
.green:before {
  background-color: var(--primary-green) !important;
}
.gray:before {
  background-color: var(--primary-gray) !important;
}
.yellow:before {
  background-color: var(--primary-yellow) !important;
}
.highlight {
  position: relative;
  left: 0.6rem;
}
.highlight:before {
  content: '';
  display: block;
  height: 100%;
  width: 0.2rem;
  position: absolute;
  left: -0.6rem;
}
.separator {
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 2rem 0;
}
.fancy-div {
  border: solid 4px #40569e;
  padding: 3rem 2rem;
  margin: 0 1rem;
  position: relative;
}
.fancy-div h2 {
  line-height: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 0 1rem;
  margin: 0;
  background: linear-gradient(to right, #e7e7e7 0%, #ededed 100%);
}
.fancy-div legend {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 0 4rem;
}
@media screen and (max-width: 900px) {
  .fancy-div legend {
    padding: 0 1rem;
  }
}
.fancy-div > div {
  max-width: 800px;
}
.emphasis-box {
  padding: 3rem 2rem;
  margin: 6rem 1rem 0 1rem;
  border: solid 2px #0e8bb5;
  line-height: 1.8rem;
  position: relative;
}
.emphasis-box > div {
  max-width: 600px;
}
.bullet {
  position: relative;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  margin-left: 1.5rem;
  z-index: 1;
}
.txt-blue {
  color: var(--text-blue);
}
.bullet:before {
  content: '';
  background-image: url(/assets/images/icons/bullets.svg);
  display: block;
  background-size: 1.2rem 1.2rem;
  height: 1.2rem;
  width: 1.2rem;    
  position: absolute;
  left: -1.5rem;
}
.bullet-blue:before {
  background-image: url(/assets/images/icons/bullet-blue.svg);
}

/* Banner styles */
.img-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .img-banner {
    background-attachment: fixed;
  }
}
.mtl-banner {
  background-image: url(../images/banner-mtl_2_50.webp);
}
.building-banner {
  background-image: url(../images/glassbuildings.webp);
}
.engineering-bg {
  background-image: url(../images/building_engineering_page-hero_overlay\ \(1\).webp);
}
.main-banner {
  position: relative;
  min-height: 800px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 5px 10px 4px rgba(54, 54, 54, 0.5);
  background-color: var(--bg);
  z-index: 2;
}
.main-banner > div:not(.banner-content) {
  margin-top: 5rem;
}
.banner-content {
  height: 100%;
  position: relative;
}
.banner-text {
  max-width: min(700px, 90%);
  background-color: rgba(0, 0, 0, 0.65);
  padding: 2rem;
}
.banner-text-large {
  max-width: min(750px, 90%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem 4rem 2rem 2rem;
}
.banner-text-large.even {
  padding: 2rem 3rem 2rem 3rem;
}
@media screen and (min-width: 1000px) {
  .banner-content.extend-left {
    box-shadow: -100vw 0 0 100vmax rgba(0, 0, 0, 0.8);;
    clip-path: inset(0 -100vmax); 
  }
}
@media screen and (max-width: 900px) {
  .banner-text-large {
    padding: 2rem;
    max-width: 95%;
  }
}
.offset-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: var(--bg-light-blue);
  z-index: -1;
}
.blue-white-bg.offset-bg:before {
  background: linear-gradient(
    to right,
    var(--bg-light-blue) 0%,
    var(--bg-light-blue) 50%,
    var(--bg) 50%,
    var(--bg) 100%
  );
}
@media screen and (max-width: 900px) {
  .blue-white-bg.offset-bg:before {
    background: var(--bg-light-blue) !important;
  }
}
.mid-blue-bg.offset-bg:before {
  background-color: var(--bg-mid-blue) !important;
}
.primary-bg.offset-bg:before {
  background-color: var(--bg) !important;
}
.white-bg.offset-bg:before {
  background-color: #fff !important;
}
.bright-blue-bg.offset-bg:before {
  background-color: var(--bg-bright-blue) !important;
}


/* Building background banner */
.building-bg {
  position: relative;
  background-image: url(../images/building-banner.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.building-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(131, 172, 111, 0.9);
}

/* Joule MV Background */
.background-image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.joule-mv-1 {
  background-image: url(../images/tech_div-joule_mv_section_icons_overlay.jpg);
}
.joule-mv-2 {
  background-image: url(../images/building-banner.webp);
}

/* Main Styles */
main {
  position: relative;
  width: 100%;
  background: var(--bg);
  z-index: 1;
}

/* Map Styles */
.map-container.small-maps {
  max-width: 500px;
}
.map {
  margin-bottom: 3rem;
}
.map iframe {
  border-radius: 15px;
}
.map-text {
  text-wrap: wrap;
  padding-right: 1.5rem;
}
.phone {
  position: relative;
  display: flex;
}
.phone:before {
  content: url(../images/icons/phone.svg);
  display: block;
}
@media screen and (max-width: 768px) {
  .map:not(.no-reverse) {
    flex-direction: column-reverse;
    width: 100%;
  }
  .map-1 { 
    align-items: flex-end;
    justify-content: flex-end;
  }
  .map-1 .map-text {
    text-align: right;
  }
  .map-1 .phone {
    justify-content: flex-end;
  }
  .map-1 .highlight {
    left: unset !important;
    right: 0.6rem; 
  }
  .map-1 .highlight:before {
    right: -0.6rem;
    left: unset !important;
  }
  .map iframe {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .map-container {
    justify-content: space-around;
  }
}

/* Img with text styles */
.img-w-txt img {
  width: 90%;
  max-width: 400px;
  height: auto;
}
.img-w-txt .sml-img {
  width: 100%;
  max-width: 300px;
  padding: 1.5rem 0;
}
.img-w-txt .big-img {
  max-width: 500px;
  width: 100%;
}
.img-w-txt .bigger-img {
  max-width: 600px;
  width: 100%;
}
.rounded-corner {
  border-radius: 20px;
}
.img-w-txt .txt {
  flex: 1;
  min-width: 40%;
  max-width: 700px;
}
.img-w-txt .sml-txt {
  max-width: 300px;
}
.img-w-txt-3 img {
  width: 100%;
  height: auto;
}
.img-w-txt-3 .img-cont {
  width: 25%;
  min-width: 300px;
}
.img-w-txt-3 .first-txt {
  flex: 1;
  min-width: 300px;
}
.img-w-txt-3 .second-txt {
  width: 25%;
  min-width: 300px;
}
@media screen and (max-width: 930px) {
  .img-w-txt-3 .first-txt {
    min-width: 100%;
  }
}

/* Team grid style */
.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-grid .card:not(.info-card) {
  width: 250px;
  padding: 2rem 0;
  cursor: pointer;
}
.team-grid .info-card.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: scroll;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow:
  1px 2px 8px hsla(0, 0%, 0%, 0.333);
  z-index: 1000;
}
.team-grid .card img {
  transition: all 0.15s ease-in-out;
}
.team-grid .card:hover img:not(.info-card img) {
  scale: 1.02;
}
.team-grid .card:hover .name:not(.info-card .name) {
  text-decoration: underline;
}
.team-grid .info-card:after {
  content: url(/assets/images/icons/close.svg);
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.team-grid .card p {
  margin: 0.2rem 0;
}
.team-grid .info-card p {
  margin: 1rem 0;
}
.name {
  font-size: 1.05rem;
  font-weight: 700;
}
.position {
  font-size: 0.8rem;
}
.quote {
  font-size: 0.7rem;
  font-weight: 600;
  font-style: italic;
}

/* Slideshow Styles */
.menu-item.active, .menu-item:hover {
  font-weight: 800;
}
.menu-item.active:first-of-type {
  color: #eac657;
}
.menu-item.active {
  color: #3a519a;
}
#slide-menu {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  gap: 3rem;
}
#slide-menu .menu-item {
  cursor: pointer;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  #slide-menu .menu-item {
    cursor: pointer;
    font-size: 1.1rem;
  }
}
.slide-content {
  position: relative;
}
.slide {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  position: absolute;
  top: -100%;
  z-index: -10;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.slide.active {
  opacity: 1;
  max-height: unset;
  visibility: visible;
  position: static;
}

.about-us-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;

}
.about-us-flex > section {
  width: 45%;
}
@media screen and (max-width: 900px) {
  .about-us-flex > section {
    width: 100%;
  }
}

.iso {
  height: 100px !important;
  width: 100px !important;
}
.border {
  height: 100px;
  width: 2px;
  background-color: var(--primary-blue);
}

/** Utility Grid **/
.utility-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.utility-grid .utility {
  position: relative;
  width: 30%;
  min-width: 250px;
  height: 150px;
}
.utility > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}
.utility-grid .img {
  max-width: 90px;
}
.utility-grid .description {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  height: 100%;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  background-color: var(--bg);
}
.utility:hover .description {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 900px) {
  .utility-grid .description {
    font-size: 0.7rem !important;
  }
}

/* Markets **/
#marketCategories {
  align-items: flex-start;
  margin-top: 3rem;
}
#marketCategories > a {
 width: 110px;
}
#marketCategories > a > h4 {
  font-size: 1.1rem;
 }
.markets-section.big {
  height: 700px;
}
.markets-section.small {
  height: 450px;
}
.markets-section > div {
  height: 100%;
  max-width: 60%;
  padding: 4rem 1rem 0 4rem;
}
.markets-section > img {
  max-width: 40%;
  height: 100%;
  object-fit: cover;
}
.markets-section h2 {
  font-size: 1.3rem;
  font-weight: 900;
}
.markets-section h3 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.markets-section p {
  font-size: 0.8rem;
}
@media screen and (max-width: 900px) {
  .markets-section.big, .markets-section.small {
    height: unset;
  }
  .markets-section > div {
    max-width: 95%;
    padding: 1rem;
  }
  .markets-section > img {
    max-width: 95%;
  }
}
@media screen and (max-width: 485px) {
  #marketCategories > a {
    width: 100%;
  }
}
.markets-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
}
.markets-contact .txt {
  max-width: 700px;
}
.markets-contact .btn {
  padding: 0.7rem 3rem 0.7rem 1rem;
}

/* Building Engineering Section */
.building-eng-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.building-eng-offers aside {
  height: fit-content;
  width: 30%;
  min-width: 350px;
  position: sticky;
  top: 20%;
  font-size: 0.8rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(13,227,255,0.42);
  -moz-box-shadow: 0px 0px 15px 2px rgba(13,227,255,0.42);
  box-shadow: 0px 0px 15px 2px rgba(13,227,255,0.42);
}
.building-eng-offers object:not(:first-of-type) {
  margin-top: 3rem;
}
.building-eng-offers .content-container {
  width: 60%;
  min-width: 600px;
}
.building-eng-offers aside a {
  margin-bottom: 1rem;
}
.building-eng-offers aside a:hover {
  color: var(--primary-blue);
}
#top {
  margin-bottom: 3rem;
}

.scroll-top-cont {
  position: absolute;
  right: 40px;
  bottom: -150px;
  padding-bottom: 3rem;
}
.scroll-top {
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
}

#markets-top.scroll-top-cont {
  position: fixed;
  right: 8%;
  bottom: 10%;
  padding: 0;
  z-index: 2;
}
#top-markets {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 1100px) {
  .building-eng-offers {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .building-eng-offers aside {
    position: relative;
    text-align: center;
  }
  .building-eng-offers aside a {
    padding: 0 2rem;
  }
  .building-eng-offers .content-container {
    width: 95%;
    min-width: unset;
  }
  #top {
    margin-bottom: unset;
  }
  .scroll-top-cont {
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 0;
    z-index: 2;
  }
}

/* accordion section styles */
.accordion-cont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.accordion {
  padding: 1rem 0;
  cursor: pointer;
}
.accordion-header {
  position: relative;
}
.accordion-header:after {
  content: url(/assets/images/icons/arrow_black.svg);
  position: absolute;
  right: 0;
  top: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.accordion-content {
  max-height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.open-accordion .accordion-header:after {
  -webkit-transform: translateY(-50%) rotate(0);
      -ms-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}
.open-accordion .accordion-content {
  max-height: 700px !important;
}

.raise-z {
  z-index: 5;
  position: relative;
}

/* form styles */
#contactForm {
  padding-top: 1rem;
  width: 95% !important;
  max-width: 500px;
  margin-bottom: 3rem;
}
form {
  max-width: 500px;
  padding: 1rem 0;
}
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.input-group input, .input-group textarea, .input-group select {
  width: 100%;
  border: 0.5px solid #ccc;
  margin-top: 0.4rem;
  padding: 0.4rem;
  border-radius: 10px;
}
.input-group input:focus, .input-group textarea:focus, .input-group select:focus {
  outline: none !important;
  border: 2px solid var(--primary-active-color);
}
.input-group textarea {
  resize: both;
}
.submit-btn {
  justify-self: flex-start;
}
.recaptcha {
  justify-self: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .recaptcha iframe {
    -ms-transform: scale(0.77);
        transform: scale(0.77);
    -webkit-transform: scale(0.77);
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #afb5b7;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #879699;
}